* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #171023;
}

.container {
  margin: 0px 24px 40px 24px;
}

#text-name {
  color: #f5f6f6;
  display: inline;  
}

#menu-img {
  justify-content: end;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 7.6rem;
  margin-top: 1.5rem;
  color: #f5f6f6;
  font-size: 40px;
}

.mobile-menu-list {
  justify-content: end;
  display: flex;
  background-color: #2c243b;
  padding-top: 1.6rem;
  text-align: end;
  width: 72.6vw;
  height: 62vh;
  margin-left: 5rem;
  border-radius: 15px 0 0 15px ;
  display: none;
}

#text-primary { 
  color: #f5f6f6;
  text-decoration: none;
  font-size: 1.15rem;
}
#text-secundary {
  color: #cdd0d4;
  text-decoration: none;
  font-size: 1.15rem;
  margin-top: 15px;
}

.nav-item {
  padding-bottom: 40px;
  padding-right: 20px;
  list-style: none;
}

.open {
  display: block;
  position: absolute;
}

#text-block {
  display: block;
  /* filter: blur(1.8px); */
  position: static;
 
}

#img-computer {
  display: block;
  width: 312px;
  height: 266px;
  margin: 48px 0 24px 0;
}

#main-text {
  background-image: linear-gradient(to right, #9955e8, #7bffaf);
  background-clip: text;

  /* Alguns navegadores precisam do prefixo */
  -webkit-background-clip: text; 

  /* apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}

#btn1 {
  background: #413A4F;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 16px 24px 16px 24px;
  align-items: center;
  margin-top: 24px;
  border-radius: 10px;
  color: #f5f6f6;
  font-size: medium;
}

#btn1 > a {
  color: #f5f6f6;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

#btn2 {
  background: #8A42DB;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 16px 16px 16px 24px;
  justify-content: left;
  margin-top: 24px;
  margin-left: 15px;
  border-radius: 10px;
  color: #f5f6f6;
  font-size: medium;
  position: static;
  
}

#icon1{
  padding-right: 10px;
}

#icon2 {
  padding-left: 5px;
  font-size: 25px;
  margin-bottom: -8px;
  
}

@media screen and (max-height: 414px) and (min-height: 360px)  {
 #menu-img {
    justify-content: end;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 9rem;
    margin-top: 1.5rem;
  }
  
  .mobile-menu-list {
    justify-content: end;
    display: flex;
    background-color: #2c243b;
    padding-top: 1.6rem;
    text-align: end;
    width: 72vw;
    height: 78vh;
    margin-left: 5rem;
    border-radius: 15px 0 0 15px ;
    display: none;
  }

  #text-primary { 
    color: #f5f6f6;
    text-decoration: none;
    font-size: 1.15rem;
  }

  #text-secundary {
    color: #cdd0d4;
    text-decoration: none;
    font-size: 1.15rem;
    margin-top: 15px;
  }

  .nav-item {
    padding-bottom: 40px;
    padding-right: 20px;
    list-style: none;
  }

  .open {
    display: block;
    position: absolute;
  }

  #text-block {
    display: block;
    /* filter: blur(1.8px); */
    position: static;
 
  }

  #btn1 {
    background: #413A4F;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 16px 20px 16px 20px;
    align-items: center;
    margin-top: 24px;
    border-radius: 10px;
    color: #f5f6f6;
    font-size: medium;
  }

  #btn2 {
    background: #8A42DB;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 16px 10px 16px 20px;
    justify-content: left;
    margin-top: 24px;
    margin-left: 15px;
    border-radius: 10px;
    color: #f5f6f6;
    font-size: medium;
    position: static;
  
  }

  

  @media screen and (min-height: 410px)  {
    #menu-img {
      justify-content: end;
      background: transparent;
      border: none;
      cursor: pointer;
      margin-left: 12rem;
      margin-top: 1.5rem;
    }
  
    .mobile-menu-list {
      justify-content: end;
      display: flex;
      background-color: #2c243b;
      padding-top: 1.6rem;
      text-align: end;
      width: 74vw;
      height: 61vh;
      margin-left: 5rem;
      border-radius: 15px 0 0 15px ;
      display: none;
    }

    #text-primary { 
      color: #f5f6f6;
      text-decoration: none;
      font-size: 1.15rem;
    }

    #text-secundary {
      color: #cdd0d4;
      text-decoration: none;
      font-size: 1.15rem;
      margin-top: 15px;
    }

    .nav-item {
      padding-bottom: 40px;
      padding-right: 20px;
      list-style: none;
    }

    .open {
      display: block;
      position: absolute;
    }

    #text-block {
      display: block;
      /* filter: blur(1.8px); */
      position: static;
 
    }

    #btn1 {
      background: #413A4F;
      border: none;
      cursor: pointer;
      text-decoration: none;
      padding: 16px 20px 16px 20px;
      align-items: center;
      margin-top: 24px;
      border-radius: 10px;
      color: #f5f6f6;
      font-size: medium;
    }

    #btn2 {
      background: #8A42DB;
      border: none;
      cursor: pointer;
      text-decoration: none;
      padding: 16px 16px 16px 20px;
      justify-content: left;
      margin-top: 24px;
      margin-left: 15px;
      border-radius: 10px;
      color: #f5f6f6;
      font-size: large;
      position: static;
    }

    #icon2 {
      padding-left: 5px;
      font-size: 25px;
      margin-bottom: -8px;
  
    }
  
  }
}
